# requirements.txt

# 数据处理和分析
numpy
pandas
scikit-learn
imbalanced-learn
joblib
pyarrow

# 深度学习
torch
torch-geometric

# 图处理
networkx
py2neo

# 数据可视化
matplotlib
seaborn

# 特征工程
tsfresh

# 可解释性
shap

# NLP和CoT
transformers
openai
anthropic
dashscope
zhipuai
httpcore[socks]
ollama

# 进度条
tqdm

# Jupyter notebook
jupyter==1.0.0

# 测试
pytest

# 其他工具
requests